@model IEnumerable<YandexParser.Models.QueryResult>

@if (Model == null)
{
    <div class="alert alert-error"><h3>Error throwed</h3><p>Maybe you banned, or connection to <a href="http://www.yandex.ru/">http://www.yandex.ru/</a> was not established.</p></div>
}
else
{
    <div class="text-left">
        @foreach (var item in Model)
        {
            <div>
                <div style="padding-bottom: 10px;font-size: 14pt;" >
                    <span class="badge badge-info">
                        @Html.DisplayFor(modelItem => item.Position)
                    </span>
                    <a href="@Html.DisplayFor(modelItem => item.Site.Url)">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>  
                </div>
                <div>
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </div>
            <hr/>
        }
    </div>  
}